{{#partial "empresas"}}
<select>
	{{#each allEmpresa}}
	<option value="{{nombre}}">{{nombre}}</option>
	{{/each}}
</select>
{{/partial}}


{{#partial "cuentas"}}

<table class="table">
            <thead>
              <tr>
                <th>Periodo</th>
                <th>Frecuencia</th>
                <th>Valor</th>
                <th>Cuenta</th>
              </tr>
            </thead>
            <tbody>
	{{#each empresa.balances}}
              <tr>
                <td>{{balance_periodo}}</td>
                <td>{{balance_frecuencia}}</td>
                <td>{{balance_valor}}</td>
                <td>{{balance_tipoCuenta}}</td>
              </tr>
	{{/each}}
	    </tbody>
</table>

{{/partial}}


{{#partial "valor_balances"}}
<h3 class="card-subtitle text-success">{{empresa.valorBalances}}</h3>
{{/partial}}

{{>cuentas.html}}