{{#partial "nombre_empresa"}}
<h2 class="">{{controllerCuentas.empresa.empresa_nombre}}</h2>
{{/partial}}

{{#partial "empresas"}}
<select name="nombre" onchange=" location = this.value;">
	{{#each controllerCuentas.AllEmpresas}}
	<option value="cuentas?nombre={{empresa_nombre}}">{{empresa_nombre}}</option>
	{{/each}}
</select>
{{/partial}}

{{#partial "empresas"}}
<select name="nombre" onchange=" location = this.value;">
	{{#each controllerCuentas.AllEmpresas}}
	<option value="cuentas?nombre={{empresa_nombre}}">{{empresa_nombre}}</option>
	{{/each}}
</select>
{{/partial}}


{{#partial "cuentas"}}

<table class="table">
            <thead>
              <tr>
                <th>Periodo</th>
                <th>Frecuencia</th>
                <th>Valor</th>
                <th>Cuenta</th>
              </tr>
            </thead>
            <tbody>
	{{#each controllerCuentas.empresa.balances}}
              <tr>
                <td>{{balance_periodo}}</td>
                <td>{{balance_frecuencia}}</td>
                <td>{{balance_valor}}</td>
                <td>{{balance_tipoCuenta}}</td>
              </tr>
	{{/each}}
	    </tbody>
</table>

{{/partial}}


{{#partial "valor_balances"}}
<h3 class="card-subtitle text-success">${{controllerCuentas.empresa.valorBalances}}</h3>
{{/partial}}

{{>cuentas.html}}